
.card {
	border: 1px solid lightgray;
	border-radius: 1rem;
	display: grid;
	grid-template-rows: 2fr 1fr;
}
.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(280px, auto);
	grid-gap: 1rem;
	margin: 0 auto;
	max-width: 1300px;
	padding: 2rem;
	
}
.card-image {
	align-items: center;
	display: flex;
	justify-content: center;
	 
}
.card-title {
	background-color: #136d19;
	color: white;
	border-radius: 0 0 1rem 1rem;
	margin: 0;
	padding: 2rem;
	text-align: center;
	font-size: 1.2em;
  align-items: center;
  
}
a{
  text-decoration: none;
}
