@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
	margin: 0;
	/* padding: 0; */
	font-family: 'Roboto', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-right: 4em;
	background-color: #136d19;
	color: white;
	padding: 1em;
	padding-top: 2em;
	padding-right: 2em;
	width: 100%;
}

nav a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	text-decoration: none;
}

nav h1 {
	font-size: 1.4em;
}
