@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	/* background-image: url('./images/eiliv-sonas-aceron-zZUCwzCxkFM-unsplash.jpg');
	background-repeat: no-repeat center fixed;
	background-size: cover; */
}
.App {
	
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.352);
	color: white;
	padding: 1em;
}
.heading {
}
nav a{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	
}
nav a:hover{
	background-color: white;
	color:gray;
	/* padding: .2em; */
}
nav h1{
	font-size: 1.5em;
}
